* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

:root {
    --main-dark: brown;
    --main-light: red;
    --background: #F7F7F7;
}

body {
    background-color: var(--background);
}

header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}

a {
    transition: color 0.2s ease;
}

h1 {
    font-size: 1.7rem;
    margin-bottom: 0;
    text-align: center;
}

.top-msg {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.top-msg a {
    color: black;
}

.top-msg a:hover {
    color: var(--main-light);
}
main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}

#summary {
    margin-bottom: 2rem;
}

#summary ul {
    margin: 1rem 0 1rem 4rem;
}

.citation {
    margin-bottom: 1.7rem;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
}

.citation:hover {
    border: 1px solid var(--main-light);
    transition: border 1s ease;
}

.cite-link {
    color: black;
    text-decoration: none;
}
.title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.description {
    padding-left: 1.5rem;
    font-size: 14px;
}
.author {
    margin-top: 7px;
}

.author-affiliation {
    font-style: italic;
    margin-left: 4px;
    font-size: 12px;
}

.label {
    font-weight: bold;
    margin-top: 7px;
}


footer {
    text-align: center;
    font-size: 14px;
}

footer a {
    color: black;
}