* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 1.7rem;
    margin-bottom: 0;
    text-align: center;
}

.top-msg {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-bottom: 2.5rem;
}

.top-msg a {
    text-decoration: none;
    color: brown;
    transition: color 0.4s ease;
}

.top-msg a:hover {
    color: red;
}

#display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.citation {
    margin-bottom: 2rem;
    border-top: 3px solid brown;
    transition: border-top-color 0.4s ease;
    max-width: 250px;
}

.citation a{
    transition: color 0.4s ease;
    color: brown;
    text-decoration: none;
}

.citation:hover a{
    color: red; 
}

.citation:hover {
    border-top-color: red;
}

.title {
    padding-top: 5px;
}

@media only screen and (max-width: 540px) {
    h1 {
        font-size: 100%;
    }
    #display {
        display: block;
        padding: 0 1rem;
    }
    .citation {
        max-width: none;
    }
  }